<div class="faq">
  About

  Traversd was created in a week by a team of four developers with the intention to provide a source of reliable bus arrival time information to the commuters in the DC area. Traversd is an open-source project. You can view the sourcecode and contribute to it on Github.

  Meet the Developers:
  Erica Andersen
  Erik Anderson
  Ksenia Coulter
  Eddie Park

  Acknowledgements:
  We would like to thank:
  General Assembly for providing us space to work.
  Washington Metropolitan Area Transit Authority API for providing bus arrival time information. https://developer.wmata.com/
  Dark Sky API for providing accurate weather information. https://developer.forecast.io/
  The Noun Project for providing our weather icons. https://thenounproject.
</div>
