<h1>About</h1>
<p>
  Traversd was created in a week by a team of four developers with the intention to provide a source of reliable bus arrival time information to the commuters in the DC area. Traversd is an open-source project. You can view the sourcecode and contribute to it on <a href="https://github.com/edwardpark/WDI_Project3_API">Github</a>.
</p>
<h2>Meet the Developers:</h2>
  <h3>Erica Andersen</h3>
  <h3>Erik Anderson</h3>
  <h3>Ksenia Coulter</h3>
  <h3>Eddie Park</h3>
<h2>Acknowledgements:</h2>
<p>We would like to thank:</p>
<ul>
  <li><a href="">General Assebly</a> for providing us space to work.</li>
  <li><a href="https://developer.wmata.com/">Washington Metropolitan Area Transit Authority API</a>for providing bus arrival time information.</li>
  <li><a href=" https://developer.forecast.io/">Dark Sky API</a> for providing accurate weather information.</li>
  <li><a href="https://thenounproject.com/">The Noun Project</a>for providing our weather icons.</li>
</ul>
