<div class="info">
<h2>About</h2>
<p>
  Traversd was created in a week by a team of four developers with the intention to provide a source of reliable bus arrival time information to the commuters in the DC area. Traversd is an open-source project. You can view the sourcecode and contribute to it on <a href="https://github.com/edwardpark/WDI_Project3_API">Github</a>.
</p>
<h3>Meet the Developers:</h3>
  <h4>Erica Andersen</h4>
  <h4>Erik Anderson</h4>
  <h4>Ksenia Coulter</h4>
  <h4>Eddie Park</h4>
<h3>Acknowledgements:</h3>
<p>We would like to thank:</p>
<ul>
  <li><a href="">General Assebly</a> for providing us space to work.</li>
  <li><a href="https://developer.wmata.com/">Washington Metropolitan Area Transit Authority API</a> for providing bus arrival time information.</li>
  <li><a href=" https://developer.forecast.io/">Dark Sky API</a> for providing accurate weather information.</li>
  <li><a href="https://thenounproject.com/">The Noun Project</a> for providing our weather icons.</li>
</ul>
</div>
