<form id="search">
  <input type="search" placeholder="Enter a bus stop id." id="bus-search">
  <!-- <input id="submit" type="submit" value=""> -->
  <input id="submit" type="image" name="submit" src="../../public/images/icon-bus.png" border="0" alt="Submit">
</form>
<div class="buses"></div>
